@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  height: auto;
}

.col {
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

.restart-button {
  border: 1px solid black;
  padding: 5px 10px 10px 5px;
  width: 100px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.game-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cell.hidden {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}


.cell.hidden span {
  display: none;
}

.cell.flagged span {
  display: none;
}

.cell.flagged-bomb {
  background-color: red;
}


.cell.flagged {
  background-color: red;
  border: 1px solid #ccc;
}

.cell.revealed {
  border: 1px solid #ccc;
  cursor: pointer;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
